// Place all the styles related to the readings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#readings {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#readings td, #readings th {
    border: 1px solid #ddd;
    padding: 8px;
}

#readings tr:nth-child(even){background-color: #f2f2f2;}

#readings tr:hover {background-color: #ddd;}

#readings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.warning {
  border: 1px solid red;
  background-color: pink;
  padding: 10px 20px;
  text-align: center;
  font-size: 1.2em;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
}

.fast-facts {
  display: flex;
  margin-bottom: 10px;
  .spacer {
    flex-grow: 0.02;
  }
  .temperature,
  .humidity {
    flex: 1 1;
    text-align: center;
    p {
      padding: 10px 20px;
      background-color: #0ca8db;
      color: white;
      font-size: 2em;
      margin: 0;
      white-space: nowrap;
      border-radius: 5px;
    }
  }
}

body.mobile {
  .fast-facts .temperature,
  .fast-facts .humidity {
    p {
      padding: 20px;
      font-size: 4em;
    }
  }
}
